
p {
    color: blue;
    font-family: Arial, sans-serif;
}

h1 {
    background-color: #d3d3d3; 
    text-align: center;
}


.contenedor {
    background-color: #286886; 
    margin: 20px;
    padding: 20px;
    border: 2px solid #000;
}


#principal {
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
}


a:hover {
    color: red;
}


img {
    width: 300px;
    border-radius: 10px;
}
